* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    margin-top: 0px;
    color: white;
    padding: 100px;
    border: 10px solid darkred;
    text-shadow: 3px 3px red;
}

#heart {
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

body {

    background-image: url("https://static.vecteezy.com/system/resources/previews/016/700/222/original/seamless-pattern-with-hand-drawn-hearts-on-dark-background-valentine-decoration-romance-print-can-be-used-for-wallpaper-wrapping-paper-cover-fabric-design-postcard-web-page-vector.jpg");
}

.inline li {
    color: white;
    display: inline;
    font-size: 50px;
    padding: 0px 50px;
    border: 5px solid red;
}

ul.inline {
    width: 100%;
    padding: 10px;
}

figcaption {
    color:white
}